.loader-wrapper {
    margin: 20% auto; 
    width: 10rem;
    /* height: 5.5rem; */
    aspect-ratio: 1;
}

.loader {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 10px solid #162534;
    border-top-color: #4bc8eb;
    border-bottom-color: #f13a8f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    animation: rotate 5s linear infinite;
    -webkit-animation: rotate 5s linear infinite;
}

.loader-inner {
    border-top-color: #36f372;
    border-bottom-color: #fff;
    animation-duration: 2.5s;
}

@keyframes rotate{
    0% {
        transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        -moz-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        -o-transform: scale(1) rotate(360deg);
}
50% {
    transform: scale(0.8) rotate(-360deg);
    -webkit-transform: scale(0.8) rotate(-360deg);
    -moz-transform: scale(0.8) rotate(-360deg);
    -ms-transform: scale(0.8) rotate(-360deg);
    -o-transform: scale(0.8) rotate(-360deg);
}
100% {
    transform: scale(1) rotate(360deg);
}
}