.bg-nav {
    background-color: #ee550e;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
    cursor: pointer;
    font-family: 'Kanit', "Lucida Sans", "Lucida Sans Regular",
            "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
}
