ul,
li {
  all: unset;
  list-style: none;
  display: flex;
}

a:hover {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  padding: 0 0.5rem;
  color: #fb9039;
}

li:first-child {
  padding-left: 0;
}

.section-wrapper {
  padding: 3rem 0;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-top: 4rem;
}

.detail-title {
  color: #fb9039;
  -webkit-text-fill-color: #fb9039;
  line-height: 1;
}

.hero-img {
  display: flex;
  justify-content: center;
  --height: 30rem;
  height: var(--height);
  width: auto;
  overflow: hidden;
  padding: 0 0 1.5rem 0;
  transition: all 0.3s ease-in-out;
}

.hero-img img {
  height: 100%;
  max-height: 100%;
  border-radius: 0.4rem;
  -webkit-box-shadow: 4px 4px 17px -2px #101112;
  -moz-box-shadow: 4px 4px 17px -2px #101112;
  box-shadow: 4px 4px 17px -2px #101112;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

/* 
.hero-img:hover img {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
} */

.hero-img:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: all 0.3s ease-in-out;
}

.detail-overview {
  padding-top: 2rem;
  position: relative;
}

.visit-website {
  position: absolute;
  bottom: -1rem;
  transform: translateY(100%);
}

.btn-visit-website {
  display: inline-block;
  font-weight: 800;
  padding: 0.5rem 0.75rem;
  /* background-color: #fb9039; */
  border: 3px solid #fb9039;
  border-radius: 0.4rem;
}

.btn-visit-website:hover {
  animation: pulse 1s ease-in-out;
}

div.trailer {
  position: relative;
}

.activePoster {
  background: url("/public/youtube-thumbnail.png") no-repeat center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  transition: all 0.5s ease-in;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  cursor: pointer;
}

iframe.youtube-trailer {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  margin: 5rem auto 3rem;
}

.castSwiper {
  height: 20rem;
  max-height: 20rem;
  margin-bottom: 1rem;
  /* margin-top: 3rem; */
}

.castSwiper .swiper-wrapper {
  height: 85%;
}

.castSwiper .swiper-slide {
  background-color: inherit;
  display: flex;
  flex-direction: column;
}

.castSwiper .swiper-slide img {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  cursor: grab;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

div.cast-name {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, #080808, transparent 95%);
  padding: 2rem 0.5rem 0.5rem;
  font-size: 1.1rem;
}

div.cast-name h5 {
  width: 100%;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}

/* animation pulse */
@keyframes pulse {
  0% {
    box-shadow: 0 0 1.25rem #e2ea6c, 0 0 3rem #fb9039;
  }
}