/* custom bullet, arrow */
.swiper-pagination-bullet {
  background: #ffffff;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.4);
}
.swiper-pagination-bullet-active {
  background: #fb9039;
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ffffffb8;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  color: #fb9039;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #26282b;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* cursor: pointer; */
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 2rem;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 2rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
}

.mySwiper {
  max-height: 32rem;
  height: 32rem;
  position: relative;
  margin-bottom: 4rem;
}
.swiper-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
  max-height: 100%;
}
.mySwiper.swiper-slide {
  height: 100%;
}

.category-swiper h1 {
  font-size: 3rem;
  color: #ee560d;
  padding-inline-start: 1rem;
}

.fadeEnd {
  display: block;
  background: linear-gradient(to right, #04162200, #27282b 90%);
  height: 100%;
  position: absolute;
  right: 0;
  width: 11rem;
  top: 0;
  z-index: 1;
}

.fadeOut {
  display: none;
}
