.item-container {
<<<<<<< HEAD
  position: relative;
}

.icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1.5rem;
}

.icon:hover > [data-icon="heart"] > path {
  fill: #ee560d;
}
.icon > [data-icon="heart"] > path {
  fill: #555e65;
}

@media screen and (max-width: 640px) {
  .icon {
    font-size: 1rem;
  }
}
=======
    position: relative;
}

.icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
}

.icon:hover>[data-icon="heart"]>path {
    fill: #ee560d;
}

@media screen and (max-width:640px) {
    .icon {
        font-size: 1rem;
    }
}
>>>>>>> 1a52970503ca082c9a64979c439b3b84bbfab033
