.bg-nav {
  background-color: #393f45;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
  cursor: pointer;
  font-family: "Kanit", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 1.15rem;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #ee550e;
}

.navbar-dark .navbar-toggler {
  border: unset;
}

.search-icon {
  font-size: 1.5rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.search-icon:hover {
  color: #ee550e;
}

.header-search-box {
  width: 35%;
}
.header-search-box input {
  width: 100%;
  border: none;
  background-color: #383f45;
  border-bottom: 1px solid #fff;
  width: 100%;
  color: #fff;
}

.header-search-box input::placeholder {
  color: #ababab;
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 1rem;
  }
  .header-search-box {
    width: 100%;
  }
  .header-search-box form {
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 600px) {
  .search-result {
    width: 100%;
  }
}
