@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,700&family=Montserrat:wght@200;400;500;700&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #012636;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

