html {
    font-size: 16px;
}

/* .carousel-inner {
   padding: 5rem;
} */

@media screen and (max-width:1024px) {
    html {
        font-size: 15px;
    }

    .mySwiper {
        max-height: 25rem;
        height: 25rem;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 14px;
    }

    .mySwiper {
        max-height: 20rem;
        height: 20rem;
    }
}

@media screen and (max-width:640px) {
    html {
        font-size: 14px;
    }

    .mySwiper {
        max-height: 13.5rem;
        height: 13.5rem;
    }
}